html {
  font-size: 15px; }

body {
  font-family: "Open Sans", sans-serif;
  color: #111111; }

li {
  list-style: none; }

.bienvenidos {
  background: url("../images/fondo-encabezado.jpg") no-repeat center top;
  background-size: cover;
  height: 100vh;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.encabezado {
  padding: 0.5rem 0;
  background: #111111;
  color: #ffffff; }
  .encabezado .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .encabezado .logo {
    width: 150px;
    height: auto; }
  .encabezado .boton-buscar,
  .encabezado .boton-menu {
    border: 0;
    font-size: 2rem;
    margin: 0;
    padding: 0 0.5rem;
    background: transparent;
    color: #fff; }
    .encabezado .boton-buscar:focus,
    .encabezado .boton-menu:focus {
      outline: 0; }
  .encabezado .boton-buscar {
    margin-left: auto;
    margin-right: 0.8rem; }

#bloque-buscar {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }

.contenedor-bloque-buscar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  margin: 1rem 0; }
  .contenedor-bloque-buscar input[type="text"] {
    border: 0;
    border-radius: 5px 0 0 5px;
    padding: 1rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
  .contenedor-bloque-buscar input[type="submit"] {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    border: 0;
    border-radius: 0 5px 5px 0;
    background: #12afaf;
    color: #fff;
    padding: 0 1rem; }

#menu-principal {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }
  #menu-principal ul {
    padding: 0;
    list-style: none;
    margin: 1rem 0 0 0; }
    #menu-principal ul li.active a {
      color: #12afaf; }
    #menu-principal ul a {
      display: block;
      padding: 0.8rem 0;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      border-top: 1px solid #6b6060;
      text-decoration: none; }
      #menu-principal ul a:hover {
        color: #12afaf; }

.btn-primary {
  color: #fff;
  border-color: transparent;
  background-color: #12afaf;
  margin-top: 1rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active {
    border-color: transparent;
    background-color: #009500; }

.texto-encabezado {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .texto-encabezado .display-4 {
    margin-top: 4rem; }

.flecha-bajar a {
  display: inline-block;
  color: #fff;
  font-size: 4rem;
  -webkit-animation: flecha-animada 1.5s ease-in-out infinite;
          animation: flecha-animada 1.5s ease-in-out infinite; }

@-webkit-keyframes flecha-animada {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes flecha-animada {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
.agencia {
  background-color: #12afaf;
  color: #fff; }
  .agencia img {
    max-width: 80%;
    margin: 0 auto;
    display: block; }

section.tu-mejor-eleccion h2 span {
  color: #12afaf; }
section.tu-mejor-eleccion li {
  min-height: 9rem; }
section.tu-mejor-eleccion li .fa,
section.tu-mejor-eleccion li .far {
  font-size: 2.3rem;
  background: #009500;
  color: #fff;
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  line-height: 4.5rem; }
section.tu-mejor-eleccion .contenedor-eleccion h4 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 0.8rem; }

.servicios {
  background: url("../images/fondo-servicios.jpg") no-repeat center center;
  background-size: cover;
  color: #fff; }
  .servicios article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem 0; }
    .servicios article img {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 60px;
              flex: 0 0 60px;
      overflow: hidden;
      margin-right: 1rem; }
    .servicios article h3 {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto;
      font-size: 1.1rem; }
      .servicios article h3 a {
        color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-decoration: none; }
        .servicios article h3 a:hover {
          color: #12afaf; }
        .servicios article h3 a:after {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f105";
          font-size: 2rem;
          margin-left: 1rem;
          opacity: 0.5;
          position: relative;
          left: 0;
          -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; }
        .servicios article h3 a:hover::after {
          left: -10px;
          color: #12afaf; }

section.ultimos-proyectos .container {
  padding-right: 0;
  padding-left: 0; }
section.ultimos-proyectos a {
  text-decoration: none; }
  section.ultimos-proyectos a h4 {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: #111111; }
section.ultimos-proyectos .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.3rem 0; }
  section.ultimos-proyectos .owl-nav .owl-prev i,
  section.ultimos-proyectos .owl-nav .owl-next i {
    font-size: 3rem;
    margin: 0 0.5rem;
    color: #12afaf;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    section.ultimos-proyectos .owl-nav .owl-prev i:hover,
    section.ultimos-proyectos .owl-nav .owl-next i:hover {
      color: #009500; }

.piedepagina {
  background: #111111;
  color: #fff;
  text-align: center;
  font-size: 0.9rem; }
  .piedepagina .redes-sociales {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .piedepagina .redes-sociales a {
      font-size: 2rem;
      color: #fff;
      margin: 0 0.5rem;
      opacity: 0.5;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      .piedepagina .redes-sociales a:hover {
        opacity: 1; }

.ir-arriba {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 3rem;
  color: #12afaf;
  text-decoration: none;
  z-index: 99999;
  line-height: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .ir-arriba:hover, .ir-arriba:focus {
    outline: 0;
    text-decoration: none;
    color: #fff; }

/*************************/
/************************/
@media (min-width: 768px) {
  .container {
    position: relative;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }

  #menu-principal {
    display: block;
    height: auto !important;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-left: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
    #menu-principal ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0; }
      #menu-principal ul li a {
        padding: 0.8rem;
        text-transform: capitalize;
        margin: 0 0.3rem;
        border-top: 0;
        border-bottom: 4px solid transparent;
        -webkit-transition: all .5s ease;
        transition: all .5s ease; }
        #menu-principal ul li a:hover {
          color: #12afaf;
          border-bottom: 4px solid; }
      #menu-principal ul li.active a {
        color: #12afaf;
        border-bottom: 4px solid; }

  .boton-buscar {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }

  #bloque-buscar {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    position: absolute;
    width: 20rem;
    right: 0;
    top: 2.8rem; }

  .servicios article {
    margin: 1rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
    .servicios article:hover img {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d; }
    .servicios article img {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 160px;
              flex: 0 0 160px;
      overflow: hidden;
      margin-right: 0;
      margin-bottom: 1rem;
      -webkit-transition: all 1s ease;
      transition: all 1s ease; }
    .servicios article h3 {
      font-size: 1.5rem;
      margin: 0 0 .5rem 0;
      -webkit-box-flex: 0;
          -ms-flex: 0 1 auto;
              flex: 0 1 auto;
      min-height: 81px; }
      .servicios article h3 a {
        width: 100%;
        display: block; }
        .servicios article h3 a:after {
          content: ""; }
    .servicios article p {
      width: 100%; }
    .servicios article a.btn-light {
      margin-top: auto; } }
@media (min-width: 992px) {
  html {
    font-size: 16px; }

  section.tu-mejor-eleccion ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 7rem; }
    section.tu-mejor-eleccion ul li .fa, section.tu-mejor-eleccion ul li .far {
      text-align: center;
      -webkit-box-flex: 0;
          -ms-flex: 0 1 auto;
              flex: 0 1 auto;
      margin-right: 1rem;
      -webkit-transition: all 1s ease;
      transition: all 1s ease; }
    section.tu-mejor-eleccion ul li .contenedor-eleccion {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 0px;
              flex: 1 0 0px; }
      section.tu-mejor-eleccion ul li .contenedor-eleccion h4 {
        margin-top: 0;
        font-size: 1rem; }
      section.tu-mejor-eleccion ul li .contenedor-eleccion p {
        font-size: .85rem; }
    section.tu-mejor-eleccion ul li:hover .fa, section.tu-mejor-eleccion ul li:hover .far {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
      background: #12afaf; }
  section.tu-mejor-eleccion ul:first-child li .fa, section.tu-mejor-eleccion ul:first-child li .far {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-right: 0;
    margin-left: 1rem; } }

/*# sourceMappingURL=estilos.css.map */