//----------------------
//PATRON DE COLORES
//----------------------
$texto: #111111;
$principal: #12afaf;
$secundario: #009500;

html {
  font-size: 15px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: $texto;
}

li {
  list-style: none;
}

.bienvenidos {
  background: url("../images/fondo-encabezado.jpg") no-repeat center top;
  background-size: cover;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.encabezado {
  padding: 0.5rem 0;
  background: $texto;
  color: #ffffff;

  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .logo {
    width: 150px;
    height: auto;
  }

  .boton-buscar,
  .boton-menu {
    border: 0;
    font-size: 2rem;
    margin: 0;
    padding: 0 0.5rem;
    background: transparent;
    color: #fff;

    &:focus {
      outline: 0;
    }
  }

  .boton-buscar {
    margin-left: auto;
    margin-right: 0.8rem;
  }
}

#bloque-buscar {
  flex: 1 1 100%;
}

.contenedor-bloque-buscar {
  display: flex;
  height: 3rem;
  margin: 1rem 0;

  input[type="text"] {
    border: 0;
    border-radius: 5px 0 0 5px;
    padding: 1rem;
    flex: 1 1 auto;
  }

  input[type="submit"] {
    flex: 0 1 auto;
    border: 0;
    border-radius: 0 5px 5px 0;
    background: $principal;
    color: #fff;
    padding: 0 1rem;
  }
}

#menu-principal {
  flex: 1 1 100%;

  ul {
    padding: 0;
    list-style: none;
    margin: 1rem 0 0 0;

    li.active a {
      color: $principal;
    }

    a {
      display: block;
      padding: 0.8rem 0;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      border-top: 1px solid #6b6060;
      text-decoration: none;

      &:hover {
        color: $principal;
      }
    }
  }
}

.btn-primary {
  color: #fff;
  border-color: transparent;
  background-color: $principal;
  margin-top: 1rem;
  transition: all 0.5s ease;

  &:hover,
  &:focus,
  &:not(:disabled):not(.disabled):active {
    border-color: transparent;
    background-color: $secundario;
  }
}

.texto-encabezado {
  flex: 1 1 auto;
  display: flex;
  align-items: center;

  .display-4 {
    margin-top: 4rem;
  }
}

.flecha-bajar a {
  display: inline-block;
  color: #fff;
  font-size: 4rem;
  animation: flecha-animada 1.5s ease-in-out infinite;
}

@keyframes flecha-animada {
  from {
    transform: translateY(0);
  }

  50% {
    transform: translateY(6px);
  }

  to {
    transform: translateY(0);
  }
}

.agencia {
  background-color: $principal;
  color: #fff;

  img {
    max-width: 80%;
    margin: 0 auto;
    display: block;
  }
}

section.tu-mejor-eleccion {
  h2 span {
    color: $principal;
  }

  li {
    min-height: 9rem;
  }

  li .fa,
  li .far {
    font-size: 2.3rem;
    background: $secundario;
    color: #fff;
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
  }

  .contenedor-eleccion {
    h4 {
      font-size: 1.2rem;
      font-weight: 700;
      margin-top: 0.8rem;
    }
  }
}

.servicios {
  background: url("../images/fondo-servicios.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;

  article {
    display: flex;
    align-items: center;
    margin: 1rem 0;

    img {
      flex: 0 0 60px;
      overflow: hidden;
      margin-right: 1rem;
    }

    h3 {
      flex: 1 1 auto;
      font-size: 1.1rem;

      a {
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;

        &:hover {
          color: $principal;
        }

        &:after {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f105";
          font-size: 2rem;
          margin-left: 1rem;
          opacity: 0.5;
          position: relative;
          left: 0;
          transition: all 0.5s ease;
        }
        &:hover::after {
          left: -10px;
          color: $principal;
        }
      }
    }
  }
}

section.ultimos-proyectos {
  .container {
    padding-right: 0;
    padding-left: 0;
  }
  a {
    text-decoration: none;
    h4 {
      font-size: 1rem;
      font-weight: bold;
      text-align: center;
      color: $texto;
    }
  }
  .owl-nav {
    display: flex;
    justify-content: center;
    margin: 0.3rem 0;
    .owl-prev i,
    .owl-next i {
      font-size: 3rem;
      margin: 0 0.5rem;
      color: $principal;
      transition: all 0.5s ease;
      &:hover {
        color: $secundario;
      }
    }
  }
}

.piedepagina {
  background: $texto;
  color: #fff;
  text-align: center;
  font-size: 0.9rem;
  .redes-sociales {
    padding: 0;
    display: flex;
    justify-content: center;
    a {
      font-size: 2rem;
      color: #fff;
      margin: 0 0.5rem;
      opacity: 0.5;
      transition: all 0.5s ease;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.ir-arriba {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 3rem;
  color: rgb(18, 175, 175);
  text-decoration: none;
  z-index: 99999;
  line-height: 0;
  transition: all 0.5s ease;
  &:hover,
  &:focus {
    outline: 0;
    text-decoration: none;
    color: #fff;
  }
}

/*************************/
// MEDIA QUERYS
/************************/

@media (min-width: 768px) {
  .container{
    position: relative;
    transition: all .5s ease;
  }
  #menu-principal {
    display: block;
    height: auto !important;
    flex: 0 1 auto;
    margin-left: auto;
    order: 1;
    ul {
      display: flex;
      margin: 0;
      li a {
        padding: 0.8rem;
        text-transform: capitalize;
        margin: 0 0.3rem;
        border-top: 0;
        border-bottom: 4px solid transparent;
        transition: all .5s ease;
        &:hover {
          color: $principal;
          border-bottom: 4px solid;
        }
      }
      li.active {
        a {
          color: $principal;
          border-bottom: 4px solid;
        }
      }
    }
  }
  .boton-buscar{
    order: 2;
  }
  #bloque-buscar{
    order: 3;
    position: absolute;
    width: 20rem;
    right: 0;
    top: 2.8rem;
  }

  .servicios{
    article{
      margin: 1rem 0;
      flex-direction: column;
      align-items: center;
      text-align: center;
      &:hover{
        img{
          transform: rotateY(360deg);
          transform-style: preserve-3d;
        }
      }
      img{
        flex: 0 0 160px;
        overflow: hidden;
        margin-right: 0;
        margin-bottom: 1rem;
        transition: all 1s ease;
      }
      h3{
        font-size: 1.5rem;
        margin: 0 0 .5rem 0;
        flex: 0 1 auto;
        min-height: 81px;
        a{
          width: 100%;
          display: block;
          &:after{
            content: "";
          }
        }
      }
      p{
        width: 100%;
      }
      a.btn-light{
        margin-top: auto;
      }
    }
  }
}


@media (min-width: 992px) {
  html{
    font-size: 16px;
  }

  section.tu-mejor-eleccion{
    ul{
      li {
        display: flex;
        min-height: 7rem;
        .fa, .far{
          text-align: center;
          flex: 0 1 auto;
          margin-right: 1rem;
          transition: all 1s ease;
        }
        .contenedor-eleccion{
          flex: 1 0 0px;
          h4{
            margin-top: 0;
            font-size: 1rem;
          }
          p{
            font-size: .85rem;
          }
        }
        &:hover{
          .fa, .far{
            transform: rotateY(360deg);
            transform-style: preserve-3d;
            background: $principal;
          }
        }
      }
      &:first-child{
        li {
          .fa, .far{
            order: 1;
            margin-right: 0;
            margin-left: 1rem;
          }
        }
      }
    }
  } 
}