//----------------------
//PATRON DE COLORES
//----------------------
$texto: #111111;
$principal: #12afaf;
$secundario: #009500;

html {
  font-size: 15px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: $texto;
}

.encabezado {
  padding: 0.5rem 0;
  background: $texto;
  color: #ffffff;
  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .logo {
    width: 150px;
    height: auto;
  }
  .boton-buscar,
  .boton-menu {
    border: 0;
    font-size: 2rem;
    margin: 0;
    padding: 0 0.5rem;
    background: transparent;
    color: #fff;
    &:focus {
      outline: 0;
    }
  }
  .boton-buscar {
    margin-left: auto;
    margin-right: 0.8rem;
  }
}
#bloque-buscar {
  flex: 1 1 100%;
}
.contenedor-bloque-buscar {
  display: flex;
  height: 3rem;
  margin: 1rem 0;
  input[type="text"] {
    border: 0;
    border-radius: 5px 0 0 5px;
    padding: 1rem;
  }
  input[type="submit"] {
    flex: 1 1 auto;
    border: 0;
    border-radius: 0 5px 5px 0;
    background: $principal;
    color: #fff;
  }
}
#menu-principal {
  flex: 1 1 100%;
  ul{
      padding: 0;
      list-style: none;
      margin: 1rem 0 0 0;
      a{
          display: block;
          padding: .8rem 0;
          text-align: center;
          color: #fff;
          text-transform: uppercase;
          border-top: 1px solid #6b6060;
          text-decoration: none;
      }
  }
}